# Blacklist
.config/*
.config/Code/*
.config/Code/User/*
.config/vifm/*
.vim
.vscode
*~

# Whitelist
!.config/Code
!.config/Code/User
!.config/Code/User/setting.ini
!.config/gtk-*
!.config/alacritty
!.config/rofi
!.config/starship.toml
!.config/nvim
!.config/vifm
!.config/vifm/colors
!.config/vifm/vifmrc
!.config/sxhkd
!.config/picom/
