configuration {
	modi: "combi,drun,run,ssh";
	combi-modi: "drun,run,ssh";
	thread: 4;
	kb-remove-char-back: "BackSpace";
	kb-accept-entry: "Control+h,Return,KP_Enter";
	kb-remove-to-eol: "";
	kb-row-down: "Down,Control+j";
	kb-row-up: "Up,Control+k";
	kb-row-tab: "";
	kb-mode-next: "Tab";
}

@import "dracula.rasi"
